body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5cm;
    /*caso queira um header maior é só aumentar o tamanho aqui, e aumentar o heigth do header*/
    margin-bottom: 1.7cm;
    background-color: #26759a;
    text-align: center;
    padding: 1px;
    border-radius: 0.1cm;
    color: #ffffff;
    font-size: 18.5px;
    border: 1px solid black;
    border-radius: 1px;
}

footer {
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 1.4cm;
    margin-bottom: -35px;
    padding: 6px;
    text-align: right;
    border-top: 1px solid #000000;
    color: black;
}

.lionel {
    font-size: 22px;
}

header {
    position: fixed;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 1.8cm;
    background-color: #0f5170;
    color: white;
    text-align: center;
    line-height: 0.7cm;
    border-radius: 1px;
    border: 1px solid black;
}

.messi {
    width: 480px;
    height: 330px;
    padding: 50px;
}