@page {
    margin: 0cm 0cm;
    font-family: sans-serif;
    size: A4 portrait;
    counter-increment: page;
}

/** Define now the real margins of every page in the PDF **/
body {
    margin-top: 3.5cm;
    /*caso queira um header maior é só aumentar o tamanho aqui, e aumentar o heigth do header*/
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom: 2cm;
}

header {
    position: fixed;
    top: 1cm;
    left: 1cm;
    right: 1cm;
    height: 2cm;
    background-color: #023b53;
    color: white;
    text-align: center;
    line-height: 3cm;
}

footer {
    position: fixed;
    bottom: 0cm;
    left: 1cm;
    right: 1cm;
    height: 2cm;
    margin-bottom: -35px;
    padding: 12px;
    text-align: right;
    border-top: 1px solid #000000;

}

.customform {
    font-family: 'Arial', sans-serif;
    border-radius: 1px;
    box-shadow: 0 2px 4px #00000033;
    font-size: 18px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #000;
    margin-top: 20px;
    border-collapse: collapse;
    padding: 10px;
    /* esse border-collapse é o responsável pelas bordas ficarem completas e sem sobras entre uma e outra*/
}

.customform td.sectiontitle {
    padding: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    background: #023b53;
    border-radius: 0;
}

.customform td.bordash {
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 8px;
}

.customform td.bordasss {
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 8px;
    background: #023b53;
    color: white;
}

.customform td.rodape {
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    padding: 8px;
}

.customform td.bordasl {
    padding: 6px;
    color: #ffffff;
    font-size: 18px;
    padding: 8px;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    background: #023b53;
}

.img {
    max-width: 70px;
    max-height: 70px;
    padding: 2px;
    display: flex;
    justify-content: flex-start;
}

footer::after {
    content: "Página " counter(page);
}